.popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7%;
    right: 15%;
    height: 8%;
    width: 20%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(102, 140, 201);
    z-index: 99999;
}

.popup-message {
    padding-left: 8px;
}
