@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Questrial|Paytone+One');

.registrationHeader {
    height: 85px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: rgb(235, 85, 73);
    font-family: 'Paytone One', sans-serif;
}

.registrationHeader h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px rgba(196, 153, 150, 0.7);
    /* display: flex; */
    /* justify-content: center; */
}

.registrationHeader a {
    padding-left: 25px;
    color: white;
    text-decoration: none;
}

.registrationHeader a:hover {
    color: rgb(240, 208, 32);
}

.twoRegContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-left:50px;
    margin-right:50px;
}
