.login-input {
    height: 35px;
    width: 45%;
    line-height: 35px;
    font-size: 1rem;
    padding: 2px 0 2px 4px;
    margin: 0 10px;
    border-radius: 8px;
    background-color: rgb(172, 230, 255);
}


