.userRegContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    border: 1px solid rgb(172, 230, 255);
    border-radius: 5px;
    margin: 50px 10px 0 10px;
    background-color: rgb(176, 199, 201);
    box-shadow: 0px 0px 8px 8px #445e69;
}

.userRegHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    box-shadow: 0px 8px 8px -8px #445e69;
    font-family: 'Paytone One', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px grey;
    color: white;
    background-image: url('../../assets/images/foodie.svg');
    background-repeat: no-repeat;
    background-size: 40% 145%;
    background-position: 50% 22%;
    animation-duration: 2s;
    animation-name: rightin;
}

.userRegHeader h1 {
    margin: 0;
}

.userRegForm {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: 'Questrial', sans-serif;
}

/* .userRegForm form {
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    margin-left: 20px;
} */

.userRegForm input {
    height: 45px;
    width: 100%;
    line-height: 40px;
    font-size: 1rem;
    padding: 2px 0 2px 5px;
    margin: 10px 0;
    border: 1px solid rgb(172, 230, 255);
    border-radius: 8px;
    background-color: #8c9fa0;
}

.userRegForm input::placeholder {
    /* color: black; */
}

.userRegForm button {
    display: flex;
    font-family: 'Questrial', sans-serif;
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
    margin: 35px auto;
    font-weight: bold;
    font-size: 20px;
}

.userRegForm button:hover {
    color: grey;
    cursor: pointer;
}

#styleMeToo {
    font-size: 16px;
    margin: 30px auto;
}

@keyframes rightin {
    from {
      margin-left: 100%;
      width: 100%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
