.uprofile-container {
    background-color: rgb(176, 199, 201);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 700px;
    box-shadow: 0px 0px 8px 8px #445e69;
    font-family: Questrial;
    font-size: 25px;
    overflow: auto;
}

#uprofile-back-btn, #uprofile-edit-btn {
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
    color: white;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
}

#uprofile-back-btn:hover, #uprofile-edit-btn:hover {
    color: grey;
}

.uprofile-container p {
    margin-left: 20px;
}

.uprofile-username, .uprofile-fav-container-header, .uprofile-fav-warning {
    margin-left: 20px;
    margin-top: 20px;
}

.uprofile-email {
    margin-left: 20px;
    margin-top: 20px;
}

.uprofile-favcontainer {
    border: 1px solid white;
    width: 500px;
    margin: auto;
    height: 450px;
    font-size: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.uprofile-button-container {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

.uprofile-fav {
    display: flex;
    text-decoration: none;
}

.uprofile-fav:hover {
    box-shadow: inset 7px 0 9px -7px blue;
}

.uprofile-fav-container-header {
    margin-bottom: 20px;
}

.uprofile-fav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.uprofile-fav-right h3 {
    color: black;
}

.uprof-fav-img {
    width: 80px;
    height: 80px;
}

/* remove button */

.uprofile-remove-fav {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 30px;
}
 