.biggestContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
    height: 700px;
    color: white;
}

.tprofile-container {
    width: 600px;
    height: 100%;
    margin: 25px 10px 0 10px;
    border: 1px solid rgb(172, 230, 255);
    border-radius: 5px;
    background-color: rgb(176, 199, 201);
    box-shadow: 0px 0px 8px 8px #445e69;
    animation-duration: 1s;
    animation-name: onin;
}

.tprofile-review-container, .tprofile-menu-container {
    width: 600px;
    height: 100%;
    margin: 25px 10px 0 10px;
    border: 1px solid rgb(172, 230, 255);
    border-radius: 5px;
    background-color: rgb(176, 199, 201);
    box-shadow: 0px 0px 8px 8px #445e69;
    color: white;
}

.tprofile-container a {
    color: inherit;
    text-decoration: none;
}

.tprofile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 12%;
    width: 100%;
    font-family: 'Paytone One', sans-serif;
    font-size: 35px;
    box-shadow: 0px 8px 8px -8px #445e69;
    text-shadow: 2px 2px grey;
}

.tprofile-header p {
    margin: 0;
}

.tprofile-back {
    position: absolute;
    font-size: 15px;
    top: 5px;
    left: 10px;
}

.tprofile-back:hover, .tprofile-container a:hover {
    color:rgb(220, 220, 220);
    text-shadow: 2px 2px black;
}

.star-container {
    position: absolute;
    top: 15px;
    right: 25px;
    color: yellow;
}

.tprofile-edit {
    position: absolute;
    font-size: 15px;
    top: 5px;
    right: 10px;
}

.tprofile-img-container {
    width: 202px;
    height: 202px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35%;
    border-bottom: 1px solid white;
}

.tprofile-img-container img {
    width: 200px;
    height: 90%;
}

.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tprofile-about-header {
    text-align: center;
    font-size: 25px;
    font-family: 'Questrial', sans-serif;
    margin-top: 10px;
}

.tprofile-body-container {
    height: 88%;
    overflow: auto;
}

.tprofile-about {
    padding: 10px;
    margin: 10px 0;
    height: 15%;
    border-bottom:1px solid white;
    font-family: 'Questrial', sans-serif;
}

.tprofile-menu {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 402px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tprofile-menu img {
    height: 100%;
    width: 100%;
}

/* reviews */

.submit-form-wrapper {
    box-shadow: 0px 8px 8px -8px #445e69;
}

.review-container {
    margin: 0 20px;
}

.review-title {
    font-size: 25px;
    margin-bottom: 0;
}

.review-textarea {
    height: 90px;
    width: 100%;
    line-height: 40px;
    font-size: 1rem;
    padding: 2px 0 2px 5px;
    margin: 10px 0;
    border: 1px solid rgb(172, 230, 255);
    border-radius: 8px;
    background-color: #8c9fa0;
    color: white;
}

#submit-review {
    color: white;
    border: none;
    outline: none;
    background: transparent;
    font-size: 25px;
}

#submit-review:hover {
    color: grey;
}

.tprofile-review-list-container {
    height: 88%;
    overflow: auto;
}

.actual-review {
    border-bottom: 1px solid white;
    font-family: 'Questrial', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
}


@keyframes onin {
    from {
      margin-left: -125%;
      width: 25%; 
    }
  
    to {
      margin-left: 0%;
      width: 36%;
    }
}

@keyframes inin {
    from {
      margin-left: 400%;
      width: 25%; 
    }
  
    to {
      margin-left: 0%;
      width: 36%;
    }
}
