.menuview-menu-item {
	padding: 8px;
	font-family: Questrial;
	position: relative;
}

.menuview-menu-item p, .menuview-menu-item h3, .menuview-menu-item h4 {
	margin: 0;
}
.menuview-menu-item h3 {
	display: inline-block;
	text-align: right;
}

.menuview-menu-item p {
	margin-right: 75px;
}
.menuview-menu-item:hover {
	background-color: rgb(169, 169, 169)
}
/* .menuview-header {
	position: relative;
} */
.menuview-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: 'Paytone One', sans-serif;
	text-shadow: 2px 2px grey;
	background-color: inherit;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.menuview-toggle:hover, .menuview-add-to-cart-button:hover, .cart-remove-item-button:hover {
    color: rgb(220, 220, 220);
    text-shadow: 2px 2px black;
}

.menuview-add-to-cart-button{
	position: absolute;
	font-size: 1em;
	right: 8px;
	top: 0;
	bottom: 0;
	background: none;
	border: none;
	cursor: pointer;
}

/*cart*/
.cart-sidebar {
	position: absolute;
	top: 0;
	left: 0;
}

.cart-container * {
	font-family: 'Questrial', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: rgb(208, 208, 208);
    text-shadow: none;
}

.cart-header {
	font-size: 35px;
	text-align: center;
	margin: 0 0 8px 0;
}

.cart-item {
	margin: 3px 0;
	position: relative;
}

.cart-item > span {
	float: right;
	margin-right: 110px;
}
.cart-remove-item-button{
	position: absolute;
	font-size: 16px;
	right: 0;
	top: 0;
	bottom: 0;
	background: none;
	border: none;
	color: #fff;
}

.checkout-button-wrapper{
	text-align: center;
}

.checkout-button{
	font-size: 1.2em;
	background: none;
	border: none;
	color: #eee;
}

.checkout-button:hover{
	color: #fff;
}

.cart-special-instructions{
    width: 100%;
    line-height: 40px;
    font-size: 1rem;
    padding: 2px 0 2px 5px;
    margin: 0 10px 0 0;
    border-radius: 8px;
    background-color: #8c9fa0;
    color: black;
    border: 1px solid rgb(172, 230, 255);
    resize: vertical;
}
/*

.cart-header {
    text-align: center;
    font-size: 35px;
    font-family: 'Questrial';
    color: rgb(208, 208, 208);
    text-shadow: none;
    font-weight: bold;
    margin: 0 0 8px 0;
    padding-bottom: 8px;
    text-shadow: 2px 2px grey;
    border-bottom: 1px solid white;

}

*/