.truckRegContainer {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(235, 85, 73);
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px 8px rgba(196, 153, 150, 0.7);
    overflow: hidden;
    overflow: scroll;
}

.truckRegContainer textarea {
    background-color: inherit;
    outline: none;
    color: white;
    border: 1px solid white;
    margin-left: 70px;
    margin-top: 25px;
    width: 350px;
    height: 50px;
}

.truckRegContainer textarea::placeholder {
    color: white;
    font-family: 'Questrial', sans-serif;
}

.truckRegHeader {
    border-bottom: 1px solid white;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    text-shadow: 2px 2px rgba(196, 153, 150, 0.7);
}

.truckRegForm {
    display: flex;
    flex-direction: column;
    font-family: 'Questrial', sans-serif;
}

.truckRegForm input {
    font-family: 'Questrial', sans-serif;
    border:1px solid white;
    width: 350px;
    height: 50px;
    margin-left: 70px;
    margin-top: 20px;
}

.truckRegForm button {
    font-family: 'Questrial', sans-serif;
    border: none;
    background-color: inherit;
    color: white;
    outline: none;
    margin-top: 35px;
}

.truckRegForm button:hover {
    color:rgb(240, 208, 32);
    cursor: pointer;
}

.submitBold {
    font-weight: bold;
    font-size: 20px;
}
