.truckRegContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    border: 1px solid rgb(172, 230, 255);
    border-radius: 5px;
    margin: 50px 20px 0 20px;
    background-color: rgb(176, 199, 201);
    box-shadow: 0px 0px 8px 8px #445e69;
}

.truckRegHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 90px;
    box-shadow: 0px 8px 8px -8px #445e69;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    text-shadow: 2px 2px grey;
    font-size: 20px;
    background-image: url('../../assets/images/alttruck.svg');
    background-repeat: no-repeat;
    background-size: 40% 205%;
    background-position: 50% 30%;
    color: white;
    animation-duration: 2s;
    animation-name: comein;
}

.truckRegHeader a {
    position: absolute;
    left: 10px;
    top: 0px;
    text-decoration: none;
    color: white;
}

.truckRegHeader a:hover {
    color:rgb(220, 220, 220);
    text-shadow: 2px 2px black;
}

.truckRegHeader h1 {
    margin: 0;
}

.truckRegForm {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: 'Questrial', sans-serif;
}

.truckRegForm input {
    height: 45px;
    width: 100%;
    line-height: 40px;
    font-size: 1rem;
    padding: 2px 0 2px 5px;
    margin: 10px 0;
    border: 1px solid rgb(172, 230, 255);
    border-radius: 8px;
    background-color: #8c9fa0;
}

.truckRegForm input::placeholder, .truckRegForm textarea::placeholder {
    color: white;
}

.truckRegForm textarea {
    height: 90px;
    width: 100%;
    line-height: 40px;
    font-size: 1rem;
    padding: 2px 0 2px 5px;
    margin: 10px 0;
    border: 1px solid rgb(172, 230, 255);
    border-radius: 8px;
    background-color: #8c9fa0;
}

.submitButtons {
    display: flex;
    flex-direction: column;
}

.truckRegForm button {
    font-family: 'Questrial', sans-serif;
    border: none;
    background-color: inherit;
    outline: none;
    margin-top: 25px;
}

.truckRegForm button:hover {
    color:grey;
    cursor: pointer;
}

.upload-button {
    font-size: 16px;
    color: white;
}

.submitBold {
    font-weight: bold;
    font-size: 20px;
    color: white;
}


@keyframes comein {
    from {
      margin-left: -100%;
      width: 100%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
