.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 150px;
    background: rgb(240, 238, 228);
    border: 1px solid black;
    font-family: 'Questrial', sans-serif;
    border-radius: 5px;
    border-top-left-radius: 0;
    transition: opacity 0.5s;
    opacity: 1;
    z-index: 50;
    text-shadow: none;
}

.menu.hide {
    opacity: 0;
    pointer-events:none;
}

.dropdown-menu {
    transition: opacity 0.5s;
    opacity: 1;
}

.menu a:first-child, .menu button:first-child {
    border-top-right-radius: 5px;
}

.menu a:last-child, .menu div, .menu button:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu button {
    border: none;
    outline: none;
    width: 100%;
    background: rgb(240, 238, 228);
}

.profile-link-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.profile-link-group a, .profile-link-group button {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 5px;
}

.profile-link-group a:hover, .profile-link-group button:hover {
    background-color: rgb(213, 213, 213);
}

.dropmenu-btn {
    height: 25px;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1rem;
    color: white;
}

.dropmenu-btn-sort {
    height: 25px;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1rem;
    color: black;
}

.color {
    background-color: rgb(240, 208, 32);
}

.noColor {
    background-color: transparent;
}

#loading-gif {
    width: 32px;
}
