.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(2,2,2,.7);
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-weight: 600;
}
