.home-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.home-body-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-newsfeed {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 450px;
    border: 1px solid black;
}
